@import "../../SCSS/mixins.scss";
.header {
    grid-area: header;
    @include border_style();
    display: flex;
    justify-content: space-between
}
.header a {
    @include icon_link();
}
.link_wrapper {
    display: flex;
    text-align: center;
    align-items: center;
}
