@mixin icon_link () {
    display: block;
    padding-left: 3px;
    color: black;
    text-decoration: none;
    transition: 0.2s;
     &:hover {
        cursor: pointer;
        color: #8745B0;
    }
     & span {
        display: block;
    }
    .link_wrapper{
        display: flex;
    }
}
@mixin user_avatar () {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}
@mixin border_style () {
    border: 1px groove #8745B0;
    border-radius: 10px;
}
@mixin link_wrapper() {
    display: flex;
    text-align: center;
    align-items: center;
}